.dark-mode {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.light-mode {
  background-color: white;
  color: #333;
}

body {
  overflow-y: scroll;
}

/* Hide the default scrollbar */
body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;
}

.invis {
  padding: 40px;
}

footer p {
  margin: 0;
}

body {
  height: 100%;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
  /* body{
    Adjust body styles for smaller screens if needed
  } */

  .invis {
    padding: 20px; /* Adjust padding for smaller screens */
  }

  /* Add more responsive styles as needed */
}
